---
import Layout from '../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Footer from '../sections/Footer.astro';
---

<Layout>
    <NavBar />
    <main class="py-1 mt-10">
        <div class="px-6 pt-14 lg:px-8">
            <div class="place-content-center m-14">
                <h2 class="text-slate-600 leading-normal font-light text-8xl flex justify-center">Sobre Nosotros</h2>
                <p class="text-slate-600 leading-normal font-light text-4xl m-4 flex">Somos una consultora de negocios establecida en la Ciudad de Mexico con amplia experiencia en el mercado potenciando los proyectos de nuestros clientes.</p>
            </div>
            <div class="relative isolate px-6 pt-14 lg:px-8 m-14">
                <div class="m-12 absolute inset-x-0 -top-40 -right-3/4 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#0c1aad] to-[#0097c5] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">               
                    </div>
                </div>
                <div class="flex p-4 m-10">
                    <div class="m-10">
                        <h3 class="text-slate-600 leading-tight sm:leading-normal font-cold text-3xl flex  justify-center mt-8">En Moon Minds creemos en el compromiso con la comunidad, con los clientes y con nuestra cadena de valor.</h3>
                    </div>
                    <div class="m-10">
                        <p class="text-slate-600 leading-normal font-light text-lg sm:text-2xl m-10">Fomentamos un apoyo constanet para los miembros de la empresa, que son el motor del éxito de nuestros clientes.</p>
                        <p class="text-slate-600 leading-normal font-light text-lg sm:text-2xl m-10">Somos conscientes de que para lograr resultados sobresalientes en el mercado, se requiere un equipo formado por personas con talento, que estén inspiradas en los valores que nos acompañan desde siempre:</p>
                    </div>
                </div>
                <div class="relative">
                    <img src="/src/assets/portada-moon-minds.png" alt="Portada Moon Minds" class="size-fit object-cover">
                    <div class="absolute inset-0 flex flex-wrap justify-center items-center">
                        <div class="my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96 mix-blend-normal" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Adaptación</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Creemos que la integridad de cada uno de nuestros miembros es fundamental para el desarrollo de la compañía. Es una garantía de un crecimiento genuino y de largo plazo.
                                </p>
                            </div>
                        <div class=" my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96 mix-blend-normal" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Agilidad</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Promovemos la continua capacitación de todo nuestro equipo, para brindar las soluciones más eficientes y personalizadas.
                                </p>
                            </div>
                        <div class="my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Excelencia</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Cada integrante en Moon Minds busca mejora constante a nivel profesional y personal. Es uno de nuestros pilares para conducirnos como grupo de trabajo.
                                </p>
                            </div>
                        <div class="my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Transparencia</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Creemos que la integridad de cada uno de nuestros miembros es fundamental para el desarrollo de la compañía. Es una garantía de un crecimiento genuino y de largo plazo.
                                </p>
                            </div>
                        <div class="my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Enfoque</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Convertimos la intención de las personas en acción, mediante decisiones basadas en datos, en un proceso de mejora continua.
                                </p>
                            </div>
                        <div class="my-4 m-16 p-4 h-80 shadow-sm rounded-lg transition-all w-96" style="background-color: rgba(120, 120, 120, 0.7);">
                                <h4 class="text-slate-200 leading-normal font-bold text-4xl flex justify-center">Colaboración</h4>
                                <p class="text-slate-200 leading-normal font-light text-xl flex justify-center">
                                    Creemos en el trabajo en equipo; entendiendo como equipo de trabajo a todos los involucrados en un proyecto. El trabajo mancomunado, donde cada uno reconoce la importancia de la participación de los demás, genera proyectos exitosos.
                                </p>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
    </main>
    <Footer />
</Layout>
