---
import Layout from '../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Footer from '../sections/Footer.astro';
---

<Layout>
    <NavBar />
    <main class="py-1 mt-20 pt-12 px-6 lg:px-8">
        <h1 class="text-8xl font-light text-slate-600 text-center my-8">Política de Privacidad</h1>
        <section class="max-w-3xl mx-auto text-lg text-slate-600">
            <p class="mb-4">Esta Política de Privacidad describe cómo recopilamos, usamos y compartimos su información personal cuando visita o realiza una compra en nuestro sitio web.</p>
            <h2 class="text-6xl md:text-8xl font-light mt-6 mb-2">Información que Recopilamos</h2>
            <p class="mb-4">Recopilamos información sobre usted para proporcionar nuestros servicios, mejorar su experiencia de usuario y comunicarnos con usted. Esto incluye:</p>
            <ul class="list-disc list-inside mb-4">
                <li>Datos personales como nombre, dirección de correo electrónico, y número de teléfono.</li>
                <li>Información de pago y transacciones.</li>
                <li>Datos de navegación y uso del sitio.</li>
            </ul>
            <h2 class="text-6xl md:text-8xl font-light mt-6 mb-2">Cómo Usamos su Información</h2>
            <p class="mb-4">Usamos su información para:</p>
            <ul class="list-disc list-inside mb-4">
                <li>Procesar sus pedidos y transacciones.</li>
                <li>Mejorar y personalizar su experiencia en nuestro sitio web.</li>
                <li>Comunicarnos con usted, incluyendo el envío de actualizaciones y ofertas.</li>
            </ul>
            <h2 class="text-6xl md:text-8xl font-light mt-6 mb-2">Compartir su Información</h2>
            <p class="mb-4">No compartimos su información personal con terceros, excepto para cumplir con las leyes aplicables, responder a citaciones, órdenes judiciales o procesos legales, o proteger nuestros derechos.</p>
            <h2 class="text-6xl md:text-8xl font-light mt-6 mb-2">Seguridad</h2>
            <p class="mb-4">Tomamos medidas razonables para proteger su información personal de pérdida, robo, uso indebido y acceso no autorizado.</p>
            <h2 class="text-6xl md:text-8xl font-light mt-6 mb-2">Cambios a esta Política</h2>
            <p class="mb-4">Podemos actualizar esta Política de Privacidad de vez en cuando para reflejar, por ejemplo, cambios en nuestras prácticas o por otras razones operativas, legales o regulatorias.</p>
        </section>
    </main>
    <Footer />
</Layout>