---
import Layout from '../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Footer from '../sections/Footer.astro';
---
<Layout>
    <NavBar />
    <main>
        <div class="px-6 pt-14 lg:px-8">
            <div class="place-content-center">
                <h2 class="text-slate-600 leading-normal font-light text-8xl flex justify-center">Nuestros Productos</h2>
                <p class="text-slate-600 leading-normal font-light text-4xl m-4 flex">Nuestros productos son la base de nuestra estrategia de crecimiento y éxito. Cada uno de ellos está diseñado para resolver un problema o satisfacer una necesidad específica.</p>
            </div>
        </div>
    </main>
    <Footer />
</Layout>
    