---
import Layout from '../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Footer from '../sections/Footer.astro';
---

<Layout>
    <NavBar />
    <main class="py-1 mt-20 mb-16 px-6 lg:px-8">
        <h1 class="text-8xl font-light text-slate-600 text-center my-8 mt-12">Términos y Condiciones</h1>
        <section class="max-w-3xl mx-auto text-lg text-slate-600">
            <p class="mb-4">Estos Términos y Condiciones rigen el uso de nuestro sitio web. Al acceder a nuestro sitio, usted acepta cumplir con estos términos.</p>
            <h2 class="text-6xl font-light mt-6 mb-2">Uso del Sitio</h2>
            <p class="mb-4">El contenido de este sitio es solo para su información general y uso. Está sujeto a cambios sin previo aviso.</p>
            <h2 class="text-6xl font-light mt-6 mb-2">Propiedad Intelectual</h2>
            <p class="mb-4">Este sitio web contiene material que es propiedad o está licenciado por nosotros. Este material incluye, pero no se limita a, el diseño, la apariencia y los gráficos.</p>
            <h2 class="text-6xl font-light mt-6 mb-2">Enlaces a Otros Sitios</h2>
            <p class="mb-4">Nuestro sitio puede contener enlaces a otros sitios de interés. No tenemos control sobre el contenido de esos sitios y no somos responsables de la protección y privacidad de cualquier información que proporcione mientras visita dichos sitios.</p>
            <h2 class="text-6xl font-light mt-6 mb-2">Limitación de Responsabilidad</h2>
            <p class="mb-4">No seremos responsables de ninguna pérdida o daño que pueda surgir del uso de este sitio web.</p>
            <h2 class="text-6xl font-light mt-6 mb-2">Cambios a los Términos</h2>
            <p class="mb-4">Podemos modificar estos términos en cualquier momento. Debe revisar esta página periódicamente para asegurarse de que está de acuerdo con cualquier cambio.</p>
        </section>
    </main>
    <Footer />
</Layout>