---
import '@fontsource-variable/jost'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/src/assets/moon-minds-azul.png" />
		<title>Moon Minds</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: "Jost Variable";
		width: 100%;
		background-color: white;
		overflow-x: hidden;
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}
</style>
